h1 {
    color: red;
    font-size: 3em;
    font-family: Arial;
}

p {
    color: blue;
    font-size: 1.5em;
    background-color: yellow;
}

div {
    background-color: grey;
}

#comments {
    font-size: size 2em;
    color: blue
}

.alert {
    text-align: center;
    color: rgb(255, 0, 0);
}

p b {
    color: rgb(133, 81, 13);
}

ul li b {
    color: green;
}